/* Table of Contents:
1.0.0 Sola Normalize
2.0.0 Mobile Styles (default - mobile first)
            2.1.0 Entry Content / Elements Page
            2.2.0 Homepage
            2.3.0 General Content
            2.4.0 Sermons
            2.5.0 Sermon Single
            2.6.0 Blog
            2.7.0 Blog Single
            2.8.0 Events
            2.9.0 Event Single
            2.10.0 Taxonomy xPage: Topics
            2.11.0 Taxonomy Page: Author/Speaker
            2.12.0 Taxonomy Page: Scripture
            2.13.0 Taxonomy Page: Date
            2.14.0 Taxonomy Page: Series
            2.15.0 Results: Taxonomy Results
            2.16.0 Results: Search Results
            2.17.0 Error 404
3.0.0 Large Phone Styles (min-width: 480px)
4.0.0 Tablet Styles (min-width: 768px)
            5.1.0 General Content
            5.2.0 Taxonomy Page: Author/Speaker
5.0.0 Desktop Styles (min-width: 992px)
6.0.0 Large Desktop Styles (min-width: 1200px)
7.0.0 Big Desktop Styles (min-width: 1600px)        
*/

/*===============================
    3.0.0 Icon Fonts - Dfault
  ===============================*/

  @font-face {
    font-family: 'crete-icons';
    src:  url('../fonts/crete-icons.eot?etcal2');
    src:  url('../fonts/crete-icons.eot?etcal2#iefix') format('embedded-opentype'),
      url('../fonts/crete-icons.ttf?etcal2') format('truetype'),
      url('../fonts/crete-icons.woff?etcal2') format('woff'),
      url('../fonts/crete-icons.svg?etcal2#crete-icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'design12';
    src:  url('../fonts/design12.eot?dloc9m');
    src:  url('../fonts/design12.eot?dloc9m#iefix') format('embedded-opentype'),
      url('../fonts/design12.ttf?dloc9m') format('truetype'),
      url('../fonts/design12.woff?dloc9m') format('woff'),
      url('../fonts/design12.svg?dloc9m#design12') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'design12' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-calender:before {
    content: "\e900";
  }
  .icon-chevron-down:before {
    content: "\e901";
  }
  .icon-chevron-left:before {
    content: "\e902";
  }
  .icon-chevron-right:before {
    content: "\e903";
  }
  .icon-chevron-up:before {
    content: "\e904";
  }
  .icon-close:before {
    content: "\e905";
  }
  .icon-email:before {
    content: "\e906";
  }
  .icon-facebook1:before {
    content: "\e907";
  }
  .icon-instagram:before {
    content: "\e908";
  }
  .icon-link:before {
    content: "\e909";
  }
  .icon-location:before {
    content: "\e90a";
  }
  .icon-map:before {
    content: "\e90b";
  }
  .icon-play:before {
    content: "\e90c";
  }
  .icon-search:before {
    content: "\e90d";
  }
  .icon-share:before {
    content: "\e90e";
  }
  .icon-triangle-right:before {
    content: "\e90f";
  }
  .icon-twitter:before {
    content: "\e910";
  }  

/* End Icon Fonts

/*=============================
  General
===============================*/

/*Sola Normalize*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Crimson Text', serif;
}

:root {
  --primary-color-regular: #77AF44;
  --primary-color-light: #69B227;
  --primary-color-dark: #659B34;
}

img {
		max-width: 100%;
		display: block;
		height: auto;
}

button,
[role="button"] {
  cursor: pointer;
}

button {
	background-color: transparent;
	padding: 0;
	border-width: 0;
	border-style: 0;
	border-color: transparent;
}

button:focus {
  outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Sola Utility Classes*/

a.cover-link {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0
}

.color-overlay {
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.54); /*Change this line if project requires different color or gradient*/
  content: '';
  position: absolute;
  z-index: -1;
}

.background-image-wrapper {
	/*The element containing this class also needs a height set. You can target the element or add a sibling class. Height can be set by padding, min-height, or height, depending upon specific case. The element containing this class needs an <img> with the class .background-image.*/
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: #e6d613;
}

img.background-image {
  /*Theparentofthe<img>needstohavethe.background-image-wrapperclassaswellasaheightset(canbesetbypadding,min-height,orheight,dependinguponspecificcasetransform: scale(1.05);
  */object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: transform .6s;
  -webkit-transition: transform .6s;
  -moz-transition: transform .6s;
  -ms-transition: transform .6s;
  -o-transition: transform .6s;
}

.background-image-wrapper.scale:hover > img.background-image {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: transform .6s;
  -webkit-transition: transform .6s;
  -moz-transition: transform .6s;
  -ms-transition: transform .6s;
  -o-transition: transform .6s;
}

/* Must Style */

*::selection /*Can adjust values as needed. This changes highlighte text. */ {
	background-color: #222222; /*Change to Primary Color*/
	color: #ffffff; /*Change if necessary*/
}

/*=============================
===============================
  Utility-classes
===============================
===============================*/

/*===============================
    Utility-classes
  ===============================*/

/*=== Utility-classes - Mobile+ ===*/

.js-noscroll {
	overflow: hidden;
}

.container {
  padding: 15px;
}

.article-label {
  font-size: 11px;
  color: #ffffff;
  line-height: 1.6;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}

.background-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.03);
}

/* ======= Utility-classes - Tablet+ ======= */
@media (min-width: 768px) {

  .container {
    padding: 40px;
  }

  .article-label {
    font-size: 12px;
  }

}

/* ======= Utility-classes - Desktop+ ======= */
@media (min-width: 992px) {

  .container {
    padding: 50px;
  }
  
  .grey-background {
    position: relative;
  }

  .grey-background::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: calc(50% + 25px);
    margin: 0 -50vw;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    z-index: -1;
    background-color: #F6F6F6;
  }


}

/* =======Container - Extra Desktop+ ======= */
@media (min-width: 1200px) {

  .container {
    max-width: 1080px;
    padding-right: 0;
    padding-left: 0; 
    margin: 0 auto;
  }

}

/* =======Container - Extra Desktop+ ======= */
@media (min-width: 1600px) {

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0; 
  }

  .big-container {
    max-width: 1440px;
    margin: 0 auto; 
    padding-right: 0;
    padding-left: 0; 
  }

}

/*===============================
  ===============================
    Homepage
  ===============================
  ===============================*/

/*===============================
    Primary-Header
  ===============================*/

/* ======= Primary-Header - Mobile+ ======= */

.banner {
  position: relative;
  margin-bottom: 50px;
}

.banner > .background-image-wrapper {
  min-height: 420px;
}

.banner-section {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-content {
  padding: 20px;
}

.banner-content > h1 {
  margin: 0;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.3;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.banner-content > h1 > span {
  display: block;
}

.banner-content > p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.banner-content > span {
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.banner-bottom {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -34px;
  width: 100%;
  text-align: center;
}

.banner-bottom > button {
  background-color: #efc910;
  padding: 8px 30px 4px;
  color: #000;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.banner-bottom > p {
  margin: 10px 0 0;
  color: #000;
  font-size: 12px;
  font-family: 'Poppins', sans-serif; 
}

.featured-trouble {
  padding: 40px 20px;
}
/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}

/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}

/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}

/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}

/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}


/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}

/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}

/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}

/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}

/*===============================
  ===============================
  ===============================
  ===============================
  ===============================*/

/*===============================
    
  ===============================*/

/* =======  - Mobile+ ======= */
/* =======  - Large Mobile+ ======= */
@media (min-width: 480px) {}
/* =======  - Tablet+ ======= */
@media (min-width: 768px) {}
/* =======  - Desktop+ ======= */
@media (min-width: 992px) {}
/* =======  - Large Desktop+ ======= */
@media (min-width: 1200px) {}
